[access]
	inheritFrom = All-Projects
[project]
	description = The mother of derps
[access "refs/*"]
	owner = group user/Dil3mm4
[access "refs/for/refs/*"]
	read = group user/Dil3mm4
	push = group user/Dil3mm4
	label-Code-Review = -2..+2 group user/Dil3mm4
	label-Verified = -1..+1 group user/Dil3mm4
	rebase = group user/Dil3mm4
	removeReviewer = group user/Dil3mm4
	submit = group user/Dil3mm4
[access "refs/heads/*"]
	read = group user/Dil3mm4
	create = group user/Dil3mm4
	push = +force group user/Dil3mm4
	pushMerge = group user/Dil3mm4
[access "refs/tags/*"]
	push = group user/Dil3mm4
	push = +force group user/Dil3mm4
